#dimbox {
  margin: 5% 0;
  background-color: rgba(208, 210, 200, 0.8);
  height: auto;
  padding: 2%;
  color: #05182b;
}

li{
  list-style-type: none;
}

#applications {
  display: flex;
}

#sunset-image {
  border-radius: 2%;
}

#sunset {
  /* margin-top: 10%; */
  width: 40%;
}

ul {
  padding-left: 0;
}

@media only screen and (max-width: 800px) {
  #applications {
    display: run-in;
  }

  #sunset {
    margin-left: 30%;
    border-radius: 3%;
    width: 60%;
  }

  #dimbox {
    position: absolute;
    display: block;
    width: 70%;
    height: auto;
    margin: 15vh 0 0 2vh;
  }

  #sunset-image {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  #sunset {
    position: absolute;
    z-index: 1;
  }

  #dimbox {
    z-index: 2;
    position: inherit;
    margin: 4vh 0 0 0;
    width: 80%;
  }
}
