#mapContactContainer {
  display: flex;
  flex-wrap: wrap;
}

.button {
  padding: 2% 2% 0 2%;
  display: block;
  border: none;
  border-radius: 2%;
  text-align: center;
  height: 30px;
  font-weight: bolder;
  font-size: 16px;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  width: auto;
}

#openEmailForm {
  margin: 0 auto;
  width: 140px;
}

.button:hover {
  box-shadow: 0px 0px 20px white;
  cursor: pointer;
}

#openEmailForm, #sendEmail {
  background-color: green;
}

#sendEmailButton {
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  font-family: inherit;
  padding: 0px 0 5px 0px;
  font-size: inherit;
  background-color: inherit;
}

#cancelButton {
  background-color: red;
}

#contactBox {
  text-align: center;
  width: 45%;
  margin: 30vh 0 20vh auto;
  padding-left: 5%;
}

#contactBox>p {
  margin: 1vh 0;
}

iframe {
  width: 99%;
  height: 100%;
}

#map {
  width: 35vw;
  height: 75vh;
}

#emailForm {
  text-align: center;
  margin: 7vh 0 5vh 0;
}

#buttonBox {
  display: flex;
  flex-flow: row;
  margin: 2vh 0 0 0;
  width: 20vw;
  justify-content: space-between;
  height: 50px;
}

#buttonBox>.button {
  width: 60px;
}

#innerForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

#innerForm>input {
  max-width: 160px;
  margin: 1vh auto;
}

#gmap {
  width: 48%;
  margin: 15vh 0 20vh auto;
  min-width: 250px;
}

.hide {
  animation: .25s both collapse;
  -o-animation: .25s both expand;
  -moz-animation: .25s both expand;
  -webkit-animation: .25s both expand;
  display: none !important;
}

#backgroundImage {
  min-height: 900px;
}

.show {
  animation: .25s both expand;
  -o-animation: .25s both expand;
  -moz-animation: .25s both expand;
  -webkit-animation: .25s both expand;
  display: block;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes expand {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@-o-keyframes expand {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@-moz-keyframes expand {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes collapse {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

@-o-keyframes collapse {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

@-webkit-keyframes collapse {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

@-moz-keyframes collapse {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

@media only screen and (max-width: 800px) {
  #buttonBox {
    width: 35vw;
  }

  #buttonBox>.button {
    padding: 4% 2% 0 2%;
  }

  #gmap {
    width: 100%;
    margin: 5vh auto 0 auto;
  }

  #contactBox {
    width: 100%;
    margin: 1vh auto 15vh auto;
  }

  #map {
    width: 90vw;
    height: 50vh;
  }
}

@media only screen and (max-width: 450px) {
  #map {
    margin: 0 auto;
    width: 85vw;
    height: 50vh;
  }

  #bridge {
    min-width: 95%;
  }

  #buttonBox {
    width: 50vw;
  }
}
