@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&=swap');

header {
  z-index: 10;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  background-color: white;
  z-index: 1;
  padding-left: 3%;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  color: #17caf0;
}

#pageContent {
  font-size: 20px;
  width: 75%;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  color: white;
  margin: 5% auto 0 auto;
  padding: 0 2% 2% 2%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(18, 16, 15, 0.65);
}

#backgroundImage {
  width: 90%;
  margin: 0 auto;
  background-image: url("../images/forest-leaves-compressor.jpg")
}

#siteTitle {
  font-size: 32px;
  width: 100%;
  margin: 1.1rem .1rem 0 0;
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

h4 {
  width: 25%;
  margin: .37em 0 .4em 0;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

.links {
  align-self: flex-end;
  margin: 0 .1em 0 auto;
  display: flex;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

.nav-item {
  height: 20px;
  text-decoration: none;
  color: inherit;
  padding: 2px;
}

.nav-item:hover {
  background-color: #17caf0;
  cursor: pointer;
  color: black !important;
}

.nav-item:visited {
  color: #17caf0;
  text-decoration: none;
}

.active {
  color: red;
}

#nav-list > li:not(:last-child):after {
  content: " | ";
}

li {
  display: inline-block;
  font-size: 16px;
  margin-left: 2px;
}

.page-title {
  align-self: center;
}

@media only screen and (max-width: 800px) {
  header {
    z-index: 4;
    height: 85px;
  }

  .page-title {
    font-weight: 200;
    align-self: center;
  }

  h4 {
    width: 100%;
  }

  #hamburger {
    z-index: 1;
    border-radius: 10%;
    position: absolute;
    right: 3%;
    top: 40px;
    transform: translateY(-50%);
    /* width: 40px; */
  }

  #hamburger span {
    width: 36px;
    margin: 5px 0;
    height: 4px;
    display: block;
    background-color: #17caf0;
  }

  #nav-list {
    z-index: 3;
    display: none;
    right: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    top: 85px;
    transition: .25s ease;
    transform: translateX(175%);
    width: auto;
    padding: 7% 2% 0 2%;
    margin: 0 0 0 0;
  }

  #menuOverflow {
    overflow-x: hidden;
  }

  .show-menu {
    display: block !important;
    animation: .25s both popin;
    -o-animation: .25s both popin;
    -moz-animation: .25s both popin;
    -webkit-animation: .25s both popin;
  }

  #nav-list>li {
    display: block;
    height: 36px;
  }

  #nav-list>li:not(:last-child):after {
    content: "";
  }

  #pageContent {
    font-size: 16px;
    margin: 5% 2px 5% 2px;
    width: 95%;
    text-align: center;
  }

  #backgroundImage {
    width: 100%;
  }
}

@-o-keyframes popin {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes popin {
  100% {
    transform: translateX(0%);
  }
}

@-moz-keyframes popin {
  100% {
    transform: translateX(0%);
  }
}

@keyframes popin {
  100% {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 450px) {
  #siteTitle {
    font-size: 24px;
    margin: .1rem .1rem 0 0;
  }

  h4 {
    font-size: 12px;
  }

  #nav-list {
    top: 60px;
  }

  header {
    height: 60px;
  }
}
